<template name="questionForm">
  <div class='container'>
    <form class='js-submit-question'>
      <div class="form-group">
        <label for="inputCategory">Category</label>
        <input type="text" class="form-control" id="inputCategory" placeholder="Category">
      </div>
      <div class="form-group">
        <label for="inputQuestion">Question</label>
        <input type="text" class="form-control" id="inputQuestion" placeholder="Question">
      </div>
      <div class="form-group">
        <label for="inputAnswer">Answer</label>
        <input type="text" class="form-control" id="inputAnswer" placeholder="Answer">
      </div>
      <div class="form-group">
        <label for="inputValue">Value</label>
        <input type="number" class="form-control" id="inputValue" placeholder="Value">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>