<template name='lobby'>
{{#if lobby}}
  {{#if isStarted}}
    {{> started}}
  {{else}}
    {{#if currentUser}}
      <div class='container'>
        <div class='row'>
            <div class='col-md-12'><h1 class='lobby-welcome'>Välkommen till lobby {{lobby.name}}</h1></div>
        </div>
        {{#if isAdmin}}
          <div class='row'>
            <div class='col-md-4'><input class="btn btn-primary js-start" type="submit" value="Start Quiz"></div>
            <div class='col-md-4'><input class='btn btn-default js-allow-team' type='button' value='Allow teams'></div>
            <div class='col-md-4'><input class='btn btn-danger js-delete-lobby' type='button' value='Delete lobby'></div>
          </div>
        {{/if}}

        {{#if allowTeams}}
          <div class='row'>
            <div class='col-md-6'> <!-- team red -->
              <input class='btn btn-danger js-join-red' type='button' value='Join red team'>
            </div>
            <div class='col-md-6'> <!-- team blue -->
              <input class='btn btn-primary js-join-blue' type='button' value='Join blue team'>
            </div>
          </div>
        {{/if}}


      </div>
      {{> lobbyUsers }}
    {{else}}
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <p>Please login</p>
        </div>
      </div>
    </div>
    {{/if}}
  {{/if}}
{{else}}
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <p>Finns inget här</p>
    </div>
  </div>
</div>
{{/if}}
</template>
