<template name='lobby'>
{{#if lobby}}
  {{#if isStarted}}
    {{> started}}
  {{else}}
    {{#if currentUser}}
      <div class='container'>
        <div class='row'>
            <div class='col-md-12'><h1>Välkommen till lobby</h1></div>
        </div>
        {{#if isAdmin}}
          <div class='row'>
            <div class='col-md-4'><input class="btn btn-primary js-start" type="submit" value="Start Quiz"></div>
            <div class='col-md-4'><input class='btn btn-default js-allow-team' type='button' value='Allow teams'></div>
            <div class='col-md-4'><input class='btn btn-danger js-delete-lobby' type='button' value='Delete lobby'></div>
          </div>
        {{/if}}

        {{#if allowTeams}}
          <div class='row'>
            <div class='col-md-6'> <!-- team red -->
              <input class='btn btn-danger js-join-red' type='button' value='Join red team'>
            </div>
            <div class='col-md-6'> <!-- team blue -->
              <input class='btn btn-primary js-join-blue' type='button' value='Join blue team'>
            </div>
          </div>
        {{/if}}

        {{> users }}
      </div>
    {{else}}
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <p>Please login</p>
        </div>
      </div>
    </div>
    {{/if}}
  {{/if}}
{{else}}
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <p>Finns inget här</p>
    </div>
  </div>
</div>
{{/if}}
</template>

<template name='started'>
  {{#if isAdmin}}
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <input class="btn btn-danger js-stop" type="submit" value="Stop Quiz">
      </div>
    </div>
  </div>
  {{/if}}
  <div class='container'>
    {{#if isActivePlayer}}
      {{#with current}}

        <div class='container'>
          <div class='row'>
            <div class='col-md-9 game-field'>
              <div class='row'>
                <div class='col-md-12'>
                  <h2>{{category_name}} - {{value}} $</h2>
                  <h1>{{question}}</h1>
                </div>
              </div>
              {{> messages}}
              <div class='row'>
                <form id='answerForm'>
                  <div class='form-group'>
                    <input type="text" class="form-control answer-form" id="answer" placeholder="Answer">
                  </div>
                  <!-- <button type="submit" class="btn btn-default js-submit-answer">Submit</button>-->
                </form>
              </div>
            </div>

            <div class='col-md-3'>
              {{> users }}
            </div>
          </div>
        </div>

      {{/with}}
    {{else}}
      <div class='row'>
        <div class='col-md-12'>
          <p>Lobby started</p>
        </div>
      </div>
    {{/if}}
  </div>

</template>